.contact-page-container {
  background:#f2f2f2;
}
.contact-page {
  .contact-container {
    height: calc(100vh - 110px);
    min-height: 575px;
  }
}
.contact {
  &-container {
    padding: 30px 75px 0;
  }
  &-section {
    padding: 0px;
    width: 50%;
    a {
      color: inherit;
    }
    .map-container {
      height: 320px;
      padding:0 60px 20px 0;
      position: relative;

      .map {
        height: 100%;
      }

      #gmap {
        .gm-style-cc {
          display: none;
        }
      }
      .zoomControls {
        position: absolute;
        top: 10px;
        right: 70px;
        z-index: 1;

        .zoomControl,
        &.active .zoomControl:hover {
          display: block;
          background-color: $pink;
          width: 35px;
          height: 35px;
          box-sizing: border-box;
          padding: 16.8px 10.5px;
          margin: 0 0 3px;
          @include transition( background-color 200ms ease-in);
          cursor: pointer;
          transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
        }

        .zoomControl .line,
        &.active .zoomControl:hover .line {
          height: 2px;
          width: 14px;
          background-color: #F2F2F2;
          @include transition( background-color 200ms ease-in,opacity 200ms ease-in,transform 200ms ease-in);
        }

        #zoomin.zoomControl .line:nth-child(2) {
          @include transform( rotate(90deg) translateX(-2px));
        }
        .zoomControl:hover,
        &.active .zoomControl {
          background-color: $primary;
        }
      }


    }
  }
  &-details {
    font-size: 0.9em;
    line-height: 1.5em;
    img {
      width: 100px;
    }
    h3.ahs__title {
      font-size: 1.2em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  &-header {
    padding: 30px 0;
  }
  &-form {
    .form-item {
      position: relative;
      background: none;
      border: none;
      color: $mid-grey;
      outline: none;
      width: 100%;
      padding:0;
      min-height: 40px;
      @include transition(all 100ms ease-in-out);
      &.form-textarea {
        min-height: 160px;
        resize: none;
      }
      &:focus {
        color:black;
        font-weight: normal;
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color:black;
        }
        & + .line {
          height: 1px;
          background: $dark-grey;
        }
      }
      &-row{
        position: relative;
        padding: 10px 0;
        height:60px;
        &.form-textarea-row {
          height: 180px;
        }
        @include transition(all 100ms ease-in-out);
        .line {
          position: absolute;
          bottom:0;
          width: 100%;
          height:1px;
          background: $mid-grey;
          @include transition(all 100ms ease-in-out);
        }

      }

    }
    .form-btn {
      width: 100%;
      margin: 30px 0;
    }
  }
}
@media screen and (max-width: $lg) {
  .contact {
    &-page .contact-container {
      height: auto;
      padding:60px 75px;
    }
    &-row {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &-section {
      padding: 10px 0px 30px;
      width: 100%;
      .map-container {
        height: 460px;
        padding: 0 0 60px 0;
        .zoomControls {
          right:10px;
        }
      }
      a {
        color: inherit;
      }
    }
    &-details {
      font-size: 1.5em;
      line-height: 1.5em;
      h3 {
        font-size: 1.2em;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .contact {
    &-header {
      padding: 15px 0;
    }
    &-container {
      padding: 75px 30px 0;
    }
    &-section {
      padding: 60px 0 30px;
    }
  }
}
