.contact-page-container {
  background:#f2f2f2;
}
.contact-page {
  .contact-container {
    height: calc(100vh - 110px);
    min-height: 575px;
  }
}
.contact {
  &-container {
    padding: 75px 75px 0;
  }
  &-section {
    padding: 30px 50px;
    width: 50%;
    a {
      color: inherit;
    }
    &:first-of-type {
      background-image: url(../../assets/img/background/location.png);
      background-repeat: no-repeat;
      background-size: 120px;
    }
    &:nth-of-type(2) {
      background-image: url(../../assets/img/background/message.png);
      background-repeat: no-repeat;
      background-size: 120px;
    }
  }
  &-details {
    font-size: 1.5em;
    line-height: 1.5em;
    h3 {
      font-size: 1.2em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  &-header {
    padding: 30px 0;
  }
  &-form {
    .form-item {
      position: relative;
      background: none;
      border: none;
      color: $mid-grey;
      outline: none;
      width: 100%;
      padding:0;
      min-height: 40px;
      @include transition(all 100ms ease-in-out);
      &.form-textarea {
        min-height: 150px;
        resize: none;
      }
      &:focus {
        color:black;
        font-weight: normal;
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color:black;
        }
        & + .line {
          height: 4px;
        }
      }
      &-row{
        position: relative;
        padding: 10px 0;
        height:60px;
        &.form-textarea-row {
          height: auto;
        }
        @include transition(all 100ms ease-in-out);
        .line {
          position: absolute;
          bottom:0;
          width: 100%;
          height:2px;
          background: $dark-grey;
          @include transition(all 100ms ease-in-out);
        }

      }

    }
    .form-btn {
      width: 100%;
      margin: 30px 0;
    }
  }
}
@media screen and (max-width: $lg) {
  .contact {
    &-page .contact-container {
      height: auto;
    }
    &-row {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &-section {
      padding: 10px 50px 30px;
      width: 100%;
      a {
        color: inherit;
      }
    }
    &-details {
      font-size: 1.5em;
      line-height: 1.5em;
      h3 {
        font-size: 1.2em;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .contact {
    &-header {
      padding: 15px 0;
    }
    &-container {
      padding: 75px 30px 0;
    }
    &-section {
      padding: 60px 0 30px;
    }
  }
}