// -----------------------------------------------------------------------------
// This file contains styles that are specific to the detail page.
// -----------------------------------------------------------------------------
@media screen and (min-width: 200px) {
  .detail- {
    &page-container {
      max-width: 100%;
      padding: 10px;
      .share-container {
        display: block;
        margin: 10px 0 0;
        padding: 20px 28px;
        background-color: $light-grey;
      }
    }
    &item-container{
      .detail-item-text{
        padding: 100px 20px 80px;
        margin: 0;
        font-weight: bold;
        font-size: small;
        color:$mid-grey;
      }

      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }
  }
}
@media screen and (min-width: $lg) {
  .detail-{
    &page-container {
      padding: 10px 0px 0;
      max-width: 100%;
      margin-left: 25%;
      @include transition(all 250ms ease-in-out);

      .share-container {
        display: none;
      }
    }
    &item-container{
      padding:0 40px 20px;
      &:first-child {
        padding-top: 20px;
      }
      .detail-item-text{
          padding: 100px 0px 80px;
          max-width: 980px;
          margin: 0 auto;
          font-weight: bold;
          line-height: 1.7em;
          font-size: small;
          color:$mid-grey;
      }
      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .grow {
    max-width: 100%;
    margin-left: 50px;

  }
}
