.externe {
  h1 {
    span {
      color: $dark-grey;
    }
  }
  &-details {
    padding: 50px 0 100px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    .externe-section {
      padding: 0 20px 0 0;
      width: 350px;
      &-image {
        max-width: 100%;
      }
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: $sm) {
  .externe {
    h2 {
      color: $dark-grey;
    }
    &-detail {
      .externe-section {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
  }
}




