.externe {
  h1 {
    span {
      color: $dark-grey;
    }
  }
  h2 {
    color: $dark-grey;
  }
  &-details {
    padding: 50px 0 100px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    .externe-section {
      padding: 0 20px 0 0;
      width: 350px;
      &-image {
        padding: 0 0 10px;
        max-width: 100%;
      }
      &:last-of-type {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: $lg){
  .externe {
    &-details {

      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      .externe-section {
        order:2;
        width: 100%;
        &:last-of-type {
          padding: 0;
          order:1;
        }
        .ahs__paragraph {
          padding-bottom: 50px;
        }
      }
    }
  }
}




