@media screen and (min-width: 200px) {
  .externe-page-container {
    background-color: white;
    .externe {
      margin: 60px 50px;
      h1 {
        span {
          color: $dark-grey;
        }
      }
      h2 {
        color: $dark-grey;
      }
      &-details {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        .externe-section {
          &-image {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .externe-page-container {
     background-color: white;
    .externe {
      margin: 60px 230px;
      h1 {
        span {
          color: $dark-grey;
        }
      }
      &-details {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        .externe-section {
          padding: 0 20px 0 0;
          &-image {
            max-width: 100%;
          }
          &:last-of-type {
            min-width: 60%;
          }
        }
      }
    }
  }
}


