// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {

  .row {
    z-index: 3;
  }
  
  @media (max-width: $md){
    .ahs__paragraph p.intro {
      padding-top: 50px;
    }
  }
  .svg-container {


    @media (max-width: $md){
      font-size: $title-font-size*1.25+px;
    }
    @media (max-width: $sm){
      font-size: $title-font-size*1.25+px;
    }
    @media (max-width: $xsm){
      font-size: $title-font-size*1.25+px;
    }
  }
}