// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {
  overflow:hidden;
  .row {
    z-index: 3;
  }
  .intro {
    position: relative;
    padding-bottom: 175px;
    & ~ .tease {
      position: absolute;
      text-align: center;
      bottom:-20px;
      left:0;
      max-width: 200px;

      h4 {
        font-size: 23px;
        color: $green;
        font-family: "Scriptorama",arial;
      }
      span {
        color: $text-color;
        display: block;
      }
      img {
        margin: 10px;
        height: 60px;
      }
    }
  }

  
  @media (max-width: $md){
    .ahs__paragraph p.intro {
      padding-top: 50px;
    }
  }
  .svg-container {


    @media (max-width: $md){
      font-size: $title-font-size*1.25+px;
    }
    @media (max-width: $sm){
      font-size: $title-font-size*1.25+px;
    }
    @media (max-width: $xsm){
      font-size: $title-font-size*1.25+px;
    }
  }
}