<div class="container flex column">
    <div class="row flex column justified-c">
        <div class="contact-container">
            <h1 class="ahs__title bold padded-bottom">Get in touch</h1>
            <div class="contact-row row flex">
                <div class="flex-child contact-section">
                    <div class="contact-header">
                        <h2 class="contact-title ahs__title sm bold blue">
                            Grafische en Digitale Media<br>
                            Arteveldehogeschool
                        </h2>
                    </div>
                    <div class="contact-details">
                        <h3 class=" ahs__title bold">Campus Mariakerke</h3>
                        <span>Industrieweg </span><span>232</span><br>
                        <span>9030 </span><span>Gent-Mariakerke</span><br>
                        <a href="tel:+3292348600">09 / 234 86 00</a>
                    </div>
                </div>
                <div class="flex-child stretch contact-section">
                    <div class="contact-header">
                        <h2 class="contact-title ahs__title sm bold blue">
                            Mail us at info
                            <a href="mailto:info.gdm@arteveldehs.be">info.gdm&#64;arteveldehs.be</a>
                        </h2>
                    </div>
                    <div class="contact-form">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>