<div class="container flex column">
    <div class="row">
        <div class="contact-container flex column justified-c">
            <h1 class="ahs__title bold lg padded-bottom">Contact us</h1>
            <div class="contact-row row flex">
                <div class="flex-child contact-section">
                    <div class="contact-header">
                        <h2 class="contact-title ahs__title sm bold blue">
                            Grafische en Digitale Media<br>
                            Arteveldehogeschool
                        </h2>
                    </div>
                    <div class="contact-details">
                        <h3 class="ahs__title bold">Campus Mariakerke</h3>
                        <span>Industrieweg </span><span>232</span><br>
                        <span>9030 </span><span>Gent-Mariakerke</span><br>
                        <a href="tel:+3292348600">09 / 234 86 00</a>
                    </div>
                </div>
                <div class="flex-child stretch contact-section">
                    <div class="contact-header">
                        <h2 class="contact-title ahs__title sm bold blue">
                            Mail us at info
                            <a href="mailto:info.gdm@arteveldehs.be">info.gdm&#64;arteveldehs.be</a>
                        </h2>
                    </div>
                    <div class="contact-form">
                        <form id="contact-form" action="#" method="POST" enctype="multipart/form-data">
                            <div class="form-item-row">
                                <input type="email" placeholder="E-mail" class="ahs__title xsm light form-item">
                                <div class="line"></div>
                            </div>
                            <div class="form-item-row">
                                <input type="text" placeholder="Subject" class="ahs__title xsm light form-item">
                                <div class="line"></div>
                            </div>
                            <div class="form-item-row form-textarea-row">
                                <textarea placeholder="Message" class="ahs__title xsm light form-item form-textarea"></textarea>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <input class="btn form-btn" type="submit" value="Send email" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>