
<div class="grid-container">
    <div class="grid-filters container flex wrap row maxed centered justified-c">
        <div class="grid-filters-wrapper flex">
            <div class="filter active" data-filter="all">Alles</div>
            <div class="filter" data-filter="intern">Interne projecten</div>
            <div class="filter" data-filter="extern">Externe projecten</div>
            <div class="line-marker"></div>
        </div>
    </div>
    <div class="grid row">
        <div class="grid-sizer"></div>
        <div class="grid-item grid-w-1 grid-h-1 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=1"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=1"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=2"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-3 grid-h-2 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/600/400?v=1"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=3"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=4"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-2 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/800?v=1"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-2 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=10"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=1"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=2"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=5"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=6"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-2 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/800?v=2"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-2 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=10"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=2"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=3"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-3 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/600?v=2"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-2 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/800?v=3"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=4"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=5"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-1" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=7"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-2" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=8"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3" data-type="intern">
            <div class="content">
                <img src="http://lorempizza.com/400/400?v=9"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-1 c-4" data-type="extern">
            <div class="content">
                <img src="http://lorempizza.com/800/400?v=5"/>
                <a href="/project/exampleProject" class="hover-content flex justified-c centered column">
                    <div class="hover-text-content">
                        <h3 class="hover-title">Example Project</h3>
                        <h4 class="hover-subtitle">Example Student</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>