
<div class="grid-container">
    <div class="grid-filters-scroll grid-filters container flex wrap centered justified-c">
        <div class="grid-filters-wrapper flex">
            <div class="filter active" data-filter="all">Alles</div>
            <div class="filter" data-filter="intern">Interne projecten</div>
            <div class="filter" data-filter="extern">Externe projecten</div>
            <div class="line-marker"></div>
        </div>
    </div>
    <div class="grid row">
        <div class="grid-sizer"></div>
        {% assign projects = site.projects | sort:'order' %}
        {% for project in projects %}
        <div class="grid-item grid-w-{{project.thumbnail.width}} grid-h-{{project.thumbnail.height}} c-{{project.thumbnail.color}}" data-type="{{ project.type }}">
            <div class="content">
                <img data-src="/assets/img/projects/{{ project.thumbnail.url }}" class="image" alt="{{ project.title }}"/>
                <div data-src="/assets/img/projects/{{ project.thumbnail.url }}" class="image up"></div>
                <div data-src="/assets/img/projects/{{ project.thumbnail.url }}" class="image down"></div>
                <a href="{{ project.url }}" class="hover-content flex justified-end column">
                    <div class="hover-content-wrapper flex">
                        <div class="hover-text-content">
                            {% for member in project.members limit:1 %}
                            <h4 class="hover-title">{{ member.name }}</h4>
                            {% endfor %}
                            <h5 class="hover-subtitle">{{ project.title }}</h5>
                        </div>
                        <div class="hover-text-filler flex-child stretch"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>