<header class="header">
    <div class="ahs__rainbow flex">
        <div class="part orange"></div>
        <div class="part blue"></div>
        <div class="part pink"></div>
        <div class="part green"></div>
    </div>
    <button class="menu-toggle menu" data-state="false">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
</header>
<nav class="navigation nav flex">
    <div class="nav-container flex-child stretch">

    </div>
    <div class="ahs__rainbow flex">
        <div class="part orange"></div>
        <div class="part blue"></div>
        <div class="part pink"></div>
        <div class="part green"></div>
    </div>
</nav>