<div class="intro-page">
    <svg viewBox="0 0 800 600">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="69%" class="text--line">
                GDM
            </text>
        </symbol>
        <g class="g-ants">
            <use xlink:href="#s-text"
                 class="text-copy"></use>
            <use xlink:href="#s-text"
                 class="text-copy"></use>
            <use xlink:href="#s-text"
                 class="text-copy"></use>
            <use xlink:href="#s-text"
                 class="text-copy"></use>
        </g>
    </svg>
    <div class="continue-section flex column centered justified-c">
        <h4>Ontdek meer van ons talent</h4>
        <div class="btn round outline wiggle intro-continue-button"></div>
    </div>
</div>