<div class="intro-page flex column centered justified-c">
    <svg viewBox="0 0 800 600">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="69%" class="text--line">
                GDM
            </text>
        </symbol>
        <g class="g-ants">
            <use xlink:href="#s-text"
                 class="text-copy"></use>
        </g>
    </svg>
    <div class="continue-section flex column centered justified-c">
        <h4>Ontdek meer van ons talent</h4>
        <div class="btn round outline wiggle intro-continue-button"></div>
    </div>
    <video loop muted autoplay poster="/assets/video/programming-ide.jpg" class="fullscreen-bg__video">
        <source src="/assets/video/programming-ide.webm" type="video/webm">
        <source src="/assets/video/programming-ide.mp4" type="video/mp4">
        <source src="/assets/video/programming-ide.ogv" type="video/ogg">
    </video>
</div>