<div class="share-container">
    <h3 class="share-cta ahs__title xsm padded-bottom">Share the awesomeness</h3>
    <span class="share-toggle ahs__title xsm">
                    <i class="fa fa-share-alt"></i>
                </span>
    <div class="share-list flex row centered">
        <a href="" class="share-link facebook">
            <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="share-link linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="share-link pintrest">
            <i class="fa fa-pinterest-p"></i>
        </a>
        <a href="" class="share-link twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</div>