<header class="header">
    <div class="ahs__rainbow flex">
        <div class="part orange"></div>
        <div class="part blue"></div>
        <div class="part pink"></div>
        <div class="part green"></div>
    </div>
</header>
<div class="sidebarContainer flex-child">
    <div class="bg-box"></div>
    <button class="menu-toggle menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    <div class="content stretch">
        <h2 class="ahs__title sm blue">Facebook banner</h2>
        <p>De opdracht hield in dat er een banner voor de Facebook groep van de klas moest worden gemaakt.</p>
        <blockquote>
                <span>Jonas Dermul</span>
            <br>
                Cross-Media Ontwerp
            <br>
                Graphic Design
            <br>
                2e Schijf
    </blockquote>
    </div>
    <div class="sidebar-toggle">
        <span class="line"></span>
        <span class="line"></span>
    </div>
    {% include components/share.html %}
</div>
