<div class="stories">
    <div class="stories-wrapper flex column">
        {% assign stories = site.stories | sort:'order' %}
        {% for story in stories %}
        <div id="{{ story.slug }}" class="story flex centered justified-c">
            <div class="story-bg" style='background-image:url("/assets/img/stories/{{ story.thumbnail.url }}");' alt="{{ story.thumbnail.alt }}"></div>
            <h2 class="story-title ahs__title white lg black">{{ story.title }}</h2>
        </div>
        {% endfor %}
    </div>
</div>