/*
Syntax error: Undefined mixin 'transition'.
        on line 24 of menu.scss, in `transition'
        from line 24 of menu.scss

19:       }
20:     }
21:     .fullscreen {
22:       top: 105px;
23:       &:hover {
24:         @include transition(all 200ms ease-in-out);
25:         @include opacity(0.6);
26: 
27:       }
28:     }
29:     .share-container {

Backtrace:
menu.scss:24:in `transition'
menu.scss:24
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:98:in `with_mixin'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:479:in `visit_media'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/exec.rb:489:in `watch_or_update'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/exec.rb:346:in `process_result'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/exec.rb:43:in `parse'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/lib/sass/exec.rb:22:in `parse!'
/Users/Lotte/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.3.14/bin/scss:13:in `<top (required)>'
/Users/Lotte/.rbenv/versions/2.3.1/bin/scss:23:in `load'
/Users/Lotte/.rbenv/versions/2.3.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'transition'.\A         on line 24 of menu.scss, in `transition'\A         from line 24 of menu.scss\A \A 19:       }\A 20:     }\A 21:     .fullscreen {\A 22:       top: 105px;\A 23:       &:hover {\A 24:         @include transition(all 200ms ease-in-out);\A 25:         @include opacity(0.6);\A 26: \A 27:       }\A 28:     }\A 29:     .share-container {"; }
