$grid-padding: 28;
$grid-margin: 3;
.grid-container {
  padding: 0px;

  .grid {
    font-size:7vw;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &-filters {
      position: relative;
      &-wrapper{
        position: relative;
      }
      .filter {
        cursor:pointer;
        position: relative;
        font-weight: 900;
        text-align: center;
        color: $light-grey;
        @include transition(all 250ms ease-in-out);
        padding: 10px 60px;
        border-bottom:3px solid $light-grey;
        &.active,
        &:hover {
          color: $blue;
          //border-bottom:3px solid $blue;
        }
        &:nth-child(1).active ~ .line-marker{
          left:0;
          width:168.43px;
        }
        &:nth-child(2).active ~ .line-marker{
          left:168.43px;
          width:291.84px;
        }
        &:nth-child(3).active ~ .line-marker{
          width: 297.19px;
          left:460.18px;
        }
        &:nth-child(1):hover ~ .line-marker{
          left:0;
          width:168.43px;
        }
        &:nth-child(2):hover ~ .line-marker{
          left:168.43px;
          width:291.84px;
        }
        &:nth-child(3):hover ~ .line-marker{
          width: 297.19px;
          left:460.18px;
        }

        @media (max-width: $lg){
          padding: 10px 20px;
          &:nth-child(1).active ~ .line-marker{
            left:0;
            width:88.34px;
          }
          &:nth-child(2).active ~ .line-marker{
            left:88.34px;
            width:211.84px;
          }
          &:nth-child(3).active ~ .line-marker{
            width: 217.19px;
            left:460.18px;
          }
          &:nth-child(1):hover ~ .line-marker{
            left:0;
            width:88.34px;
          }
          &:nth-child(2):hover ~ .line-marker{
            left:88.34px;
            width:211.84px;
          }
          &:nth-child(3):hover ~ .line-marker{
            left:300.18px;
            width: 217.19px;
          }
        }
        @media (max-width: $md){
          &.active,
          &:hover {
            border-bottom:3px solid $blue;
          }
        }
        @media (max-width: $sm){
          width: 100%;
        }

      }
      .line-marker {
        position: absolute;
        height:3px;
        bottom: 0px;
        width: 168.43px;
        background: $blue;
        @include transition(all 250ms ease-in-out);
      }
      @media (max-width: $md){
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .line-marker {
          display: none;
        }
      }
      @media (max-width: $sm){
        &-wrapper{
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
      }
    }
    &-item{
      padding:3px;
      position: relative;
      @include opacity(0);
      -webkit-pointer-events: none;
      pointer-events: none;
      //float: left;
      @for $i from 1 through 5 {
        $self: 20 * $i;
        &.grid-h-#{$i} {
          height: #{$self}vw;
        }
        &.grid-w-#{$i} {
          width: percentage($self/100);
          font-size:percentage($self/100);
        }
      }

      &.loaded {
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -webkit-animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
        -webkit-pointer-events: auto;
        pointer-events: auto;
      }
      &.filtered {
        display: none;
      }
      .content {
        background: $primary;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
          max-width: 100%;
          height:100%;
        }
        .hover-content {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top:0;
          @include scale(0.9);
          @include transition(all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000));

          height: 100%;
          width: 100%;
          background: rgba(0,0,0,0.9);
          .hover-title {
            color:white;
            font-weight: 900;
          }
          .hover-subtitle {
          }
        }
      }
      &.c-{
        &1 .content {
          color:$primary;
          background: $primary;
          .hover-content {
            color:$primary;
          }
        }
        &2 .content {
          color:$blue;
          background: $blue;
          .hover-content {
            color:$blue;
          }
        }
        &3 .content {
          color:$pink;
          background: $pink;
          .hover-content {
            color:$pink;
          }
        }
        &4 .content {
          color:$green;
          background: $green;
          .hover-content {
            color:$green;
          }
        }
      }
      &:hover {
        .content {
          .hover-content {
            @include scale(1);
            visibility: visible;
            opacity: 1;
            text-decoration: none;
          }
        }
      }
    }
    &-sizer{
      width: 20%;
    }
    @media (min-width: $xxlg){
      &-sizer{
        width: 16.6667%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 16.6667 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $xlg){
      &-sizer{
        width: 20%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 20 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $lg){
      &-sizer{
        width: 25%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 25 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $md){
      &-sizer{
        width: 33.333%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 33.333 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $sm){
      &-sizer{
        width: 50%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 50 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            font-size:percentage($self/100);
          }
        }
        &.grid-w-3 {
          width: 100%;
          @for $i from 1 through 3 {
            $self: 33.33334 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
      }
    }

    @media (max-width: $xsm){
      &-sizer{
        width: 100%;
      }
      &-item {
        &.grid-w-1 {
          width: 100%;
          font-size:100%;
          @for $i from 1 through 3 {
            $self: 100 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
        &.grid-w-2 {
          width: 100%;
          font-size:100%;
          @for $i from 1 through 3 {
            $self: 50 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
        &.grid-w-3 {
          width: 100%;
          font-size:100%;
          @for $i from 1 through 3 {
            $self: 33.33334 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
      }
    }
  }
}