.grid-container {
  padding: 0px 40px;
  overflow: hidden;
  z-index: 5;
  .grid {
    font-size:14px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &-filters {
      position: relative;
      &-wrapper{
        position: relative;
      }
      .filter {
        cursor:pointer;
        position: relative;
        font-weight: 900;
        text-align: center;
        color: $light-grey;
        @include transition(all 250ms ease-in-out);
        padding: 10px 60px;
        border-bottom:3px solid $light-grey;
        &.active,
        &:hover {
          color: $blue;
          //border-bottom:3px solid $blue;
        }
        &:nth-child(1).active ~ .line-marker{
          left:0;
          width:168.43px;
        }
        &:nth-child(2).active ~ .line-marker{
          left:168.43px;
          width:291.84px;
        }
        &:nth-child(3).active ~ .line-marker{
          width: 297.19px;
          left:460.18px;
        }
        &:nth-child(1):hover ~ .line-marker{
          left:0;
          width:168.43px;
        }
        &:nth-child(2):hover ~ .line-marker{
          left:168.43px;
          width:291.84px;
        }
        &:nth-child(3):hover ~ .line-marker{
          width: 297.19px;
          left:460.18px;
        }

        @media (max-width: $lg){
          padding: 10px 20px;
          &:nth-child(1).active ~ .line-marker{
            left:0;
            width:88.34px;
          }
          &:nth-child(2).active ~ .line-marker{
            left:88.34px;
            width:211.84px;
          }
          &:nth-child(3).active ~ .line-marker{
            width: 217.19px;
            left:460.18px;
          }
          &:nth-child(1):hover ~ .line-marker{
            left:0;
            width:88.34px;
          }
          &:nth-child(2):hover ~ .line-marker{
            left:88.34px;
            width:211.84px;
          }
          &:nth-child(3):hover ~ .line-marker{
            left:300.18px;
            width: 217.19px;
          }
        }
        @media (max-width: $md){
          &.active,
          &:hover {
            border-bottom:3px solid $blue;
          }
        }
        @media (max-width: $sm){
          width: 100%;
        }

      }
      .line-marker {
        position: absolute;
        height:3px;
        bottom: 0px;
        width: 168.43px;
        background: $blue;
        @include transition(all 250ms ease-in-out);
      }
      @media (max-width: $md){
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .line-marker {
          display: none;
        }
      }
      @media (max-width: $sm){
        &-wrapper{
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
      }
    }
    &-filters-scroll{
      height: 100px;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      position: fixed;
      bottom: 0px;
      left: 0;
      z-index: 9;
      background-color: #f4f4f4;
      border-top: 1px solid #ddd;

      @media (max-width: $md){
        padding-left: 20px;
        padding-right: 20px;
      }
      @media (max-width: $sm){
        padding-left: 3px;
        padding-right: 3px;
      }
      @include transition(all 250ms cubic-bezier(0.860, 0.000, 0.070, 1.000));

      .grid-filters-wrapper {
        width: 100%;
      }
      .filter {
        cursor:pointer;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: $light-grey;
        background: #FCFCFC;
        width: 33.33334%;
        padding: 10px;
        border: 1px solid #ddd;
        border-left: 0px solid #ddd;
        overflow: hidden;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-font-smoothing: antialiased;

        box-shadow: 0 0 1px transparent;
        @include transform(perspective(1px) translateZ(0));
        @include transition(all 250ms ease-in-out);
        &:first-child {
          border-left: 1px solid #ddd;
        }
        &.active {
          color: white;
          background-color: $blue;
          border: 1px solid $blue;
          &::after {
            background-color: white;
          }
          &:hover::after {
            opacity: 0.2;
          }
        }
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $blue;
          opacity:0;
          border-radius: 100%;
          @include scale(0.5);
          @include transition(transform 250ms ease-out,opacity 200ms ease-out);
        }
        &:hover {
          color:white;
          &::after{
            opacity: 0.9;
            @include scale(2);
            @include transition(transform 250ms ease-out,opacity 250ms ease-out);

          }
        }
      }
    }
    &-item{
      padding:3px;
      position: relative;
      @include opacity(0);
      -webkit-pointer-events: none;
      pointer-events: none;
      //float: left;
      @for $i from 1 through 5 {
        $self: 20 * $i;
        $grid-padding: 40;
        &.grid-h-#{$i} {
          height: calc(((100vw - #{$grid-padding * 2}px) / 5) * #{$i});
        }
        &.grid-w-#{$i} {
          width: percentage($self/100);
          //font-size:percentage($self/100);
        }
      }

      &.loaded {
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -webkit-animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
        -webkit-pointer-events: auto;
        pointer-events: auto;
      }
      &.filtered {
        display: none;
      }
      .content {
        background: $primary;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
          max-width: 100%;
          width: 100%;
          height:100%;
        }
        .image {
          &.up,
          &.down {
            position: absolute;
            top:0;
            bottom: 0;
            height: 50%;
            width: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            @include transition(opacity 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000),transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
          }
          &.down {
            height: 100%;
            background-position: bottom center;
          }
        }
        .hover-content {
          position: absolute;
          bottom:0;
          @include transition(all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
          text-align: left;
          width: 100%;
          height: 100%;
          z-index: 4;
          .hover-text-content {
            position: absolute;
            bottom:0;
            width: 100%;
            @include transition(all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
            text-align: left;
            padding: 10px 17px;
            background: rgba(255,255,255,0.7);
            &::after{
              content:'';
              position: absolute;
              width: 7px;
              height: 100%;
              left:0;
              bottom:0;
            }

            .hover-title {
              font-weight: 900;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
            .hover-subtitle {
              color: $text-color;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

        }
      }
      &.c-{
        &1 .content {
          color:$primary;
          background: $primary;
          .hover-text-content {
            color:$primary;
            &::after{
              background: $primary;
            }
          }
        }
        &2 .content {
          color:$blue;
          background: $blue;
          .hover-text-content {
            color:$blue;
            &::after{
              background: $blue;
            }
          }
        }
        &3 .content {
          color:$pink;
          background: $pink;
          .hover-text-content {
            color:$pink;
            &::after{
              background: $pink;
            }
          }
        }
        &4 .content {
          color:$green;
          background: $green;
          .hover-text-content {
            color:$green;
            &::after{
              background: $green;
            }
          }
        }
      }
      &:hover {
        .content {
          .hover-content {
            @include scale(1);
            visibility: visible;
            opacity: 1;
            text-decoration: none;
          }
        }

        .image {
          &.up {
            @include opacity(0);
            @include translate(0,-50%);
          }
          &.down {
            @include opacity(0);
            @include translate(0,50%);
          }
        }
      }
    }
    &-sizer{
      width: 20%;
    }
    @media (min-width: $xxlg){
      &-sizer{
        width: 16.6667%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 16.6667 * $i;
          $grid-padding: 40;
          &.grid-h-#{$i} {
            height: calc(((100vw - #{$grid-padding * 2}px) / 6) * #{$i});
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            //font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $xlg){
      &-sizer{
        width: 20%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 20 * $i;
          $grid-padding: 40;
          &.grid-h-#{$i} {
            height: calc(((100vw - #{$grid-padding * 2}px) / 5) * #{$i});
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            //font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $lg){
      &-sizer{
        width: 25%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 25 * $i;
          $grid-padding: 40;
          &.grid-h-#{$i} {
            height: calc(((100vw - #{$grid-padding * 2}px) / 4) * #{$i});
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            //font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $md){
      &-sizer{
        width: 33.333%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 33.333 * $i;
          $grid-padding: 25;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            //font-size:percentage($self/100);
          }
        }
      }
    }
    @media (max-width: $sm){
      &-sizer{
        width: 50%;
      }
      &-item {
        @for $i from 1 through 3 {
          $self: 50 * $i;
          &.grid-h-#{$i} {
            height: #{$self}vw;
          }
          &.grid-w-#{$i} {
            width: percentage($self/100);
            //font-size:percentage($self/100);
          }
        }
        &.grid-w-3 {
          width: 100%;
          font-size:100%;
          @for $i from 1 through 3 {
            $self: 33.33334 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
      }
    }

    @media (max-width: $xsm){
      &-sizer{
        width: 100%;
      }
      &-item {
        &.grid-w-1 {
          width: 100%;
          //font-size:100%;
          @for $i from 1 through 3 {
            $self: 100 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
        &.grid-w-2 {
          width: 100%;
          //font-size:100%;
          @for $i from 1 through 3 {
            $self: 50 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
        &.grid-w-3 {
          width: 100%;
          font-size:100%;
          @for $i from 1 through 3 {
            $self: 33.33334 * $i;
            &.grid-h-#{$i} {
              height: #{$self}vw;
            }
          }
        }
      }
    }
  }

  @media (max-width: $md){
    padding: 0px;
  }
}

[data-mobile="true"]{
  .grid-container .grid-filters-scroll .filter.active{
    &::after{
      background-color: $blue;
    }
    &:hover{
      &::after{
        opacity:0.9;
      }
    }
  }
}
