.intro-page {
  height:100%;
  width:100%;
  position: fixed;
  z-index:12;

  background: hsl(200, 70, 11);
  background-size: .12em 100%;
  font-size: 16em;

  .continue-section {
    font-size: 0.1em;
    color:white;
    position: absolute;
    bottom:5%;
    left:0;
    right:0;
    h4 {
      padding: 20px 0;
      position: relative;
      font-size: 100%;
      font-weight: 400;
      top:0;
      @include opacity(0);
      @include animation(settle-in 0.4s 2s ease-out);
      @include fill-mode(forwards);
    }
  }
  &.hide{
    @include animation(scaleDown .7s ease both);
  }
  &.gone{
    display: none;
    visibility: hidden;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    @include opacity(0.95);
    video {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

$colors: $green,
$primary,
$pink,
$blue;

.intro-animating{
  height: 100vh;
  overflow: hidden;
  &.popin{
    z-index: 13;
    @include animation(moveFromBottom .7s ease both);
  }
}

@include keyframes(settle-in) {
  0% {
    @include opacity(0);
    top:-30px;
  }

  100%{
    @include opacity(1);
    top:0;
  }
}

@include keyframes(scaleDown) {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@include keyframes(moveFromBottom) {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
