.intro-page {
  height:100vh;
  width:100%;
  position: fixed;
  z-index:12;

  background: hsl(200, 70, 11);
  background-size: .12em 100%;
  font-size: 16em;

  .text--line {
    font-size: 1em;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .continue-section {
    font-size: 0.1em;
    color:white;
    position: absolute;
    bottom:5%;
    left:0;
    right:0;
    h4 {
      padding: 20px 0;
      position: relative;
      font-size: 100%;
      font-weight: 400;
      top:0;
      @include opacity(0);
      @include animation(settle-in 0.4s 2s ease-out);
      @include fill-mode(forwards);
    }
  }
  &.hide{
    @include animation(scaleDown .7s ease both);
  }
  &.gone{
    visibility: hidden;
  }
  video {
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100vh;
  }
}

$colors: $green,
$primary,
$pink,
$blue;

$max: 3;
$stroke-step: 25%;
.text-copy {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 200vw;
  stroke-dashoffset: 200vw;
  @include animation(stroke-offset 4s cubic-bezier(0.860, 0.000, 0.070, 1.000));
  @include fill-mode(forwards);
}

@include keyframes(stroke-offset) {
  to {
    stroke-dashoffset: 0;
  }
}
.intro-animating{
  height: 100vh;
  overflow: hidden;
  &.popin{
    z-index: 13;
    @include animation(moveFromBottom .7s ease both);
  }
}

@include keyframes(settle-in) {
  0% {
    @include opacity(0);
    top:-30px;
  }

  100%{
    @include opacity(1);
    top:0;
  }
}

@include keyframes(scaleDown) {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@include keyframes(moveFromBottom) {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}