.share-container {
  display: block;
  .share-cta {
    font-weight: 800;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms 250ms ease-in-out, visibility 0s 0.25s ease-in-out;
  }
  .share-toggle {
    display: none;
    position: absolute;
    padding: 8px 11px 8px 8px;
    bottom: 20px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 23px;
    line-height: 100%;
    text-align: center;
    background: #222;
  }
  .share-list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    .share-link {
      margin: 0 3px;
      padding: 8px;
      width: 40px;
      height: 40px;
      background: #222;
      color: white;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      &:hover {
        background: $primary;
        &:nth-child(1){
          background: $primary;
        }
        &:nth-child(2){
          background: $blue;
        }
        &:nth-child(3){
          background: $pink;
        }
        &:nth-child(4){
          background: $green;
        }
        animation-name: wiggle;
        -webkit-animation-name: wiggle;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
      }
    }
  }
}
@media screen and (min-width: 200px) {
  .sidebarContainer {
    z-index: -1;
    top: 0px;
    width: calc(100% - 20px);
    padding: 5% 1%;
    margin: 10px;
    background-color: $light-grey;
    .content {
      margin: 0 28px;
      h2 {
        color: $blue;
      }
      p {
        font-size: 16px;
        color: $text-color;
      }
      blockquote {
        color: $text-color;
        font-size: 15px;
        border-left: 3px solid $text-color;
        padding-left: 21px;
        margin-left: 0;
        span {
          color: $blue;
          font-weight: 800;
        }
      }
    }
    .share-container {
      display: none;
    }
  }
}
@media screen and (min-width: $lg) {
  .sidebar-toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -12px;
    top: 50%;
    margin-top: -25px;
    background-color: $light-grey;
    border-radius: 100%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    .line {
      height: 3px;
      width: 20px;
      border-radius:25%;
      background-color: $text-color;
      display: block;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-style: flat;
      -moz-transform-style: flat;
      -ms-transform-style: flat;
      -o-transform-style: flat;
      transform-style: flat;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }
  }
  .sidebarContainer {
    padding: 0;
    margin: 0;
    z-index: 2;
    top: 0px;
    width: 25%;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    height:100%;
    height:calc(100% - 80px);
    position: fixed;
    background: $light-grey;

    .share-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 30px;
      display: block;
    }
    .bg-box {
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
    }

    .content {
      margin: 30px;
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms 250ms ease-in-out, visibility 0s 0.25s ease-in-out;
      p {
        font-size: 16px;
        color: $text-color;
      }
      blockquote {
        color: $text-color;
        font-size: 15px;
        border-left: 3px solid $text-color;
        padding-left: 21px;
        margin-left: 0;
        span {
          color: $blue;
          font-weight: 800;
        }
      }
    }
    .sidebar-toggle {
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
      .line {
        &:nth-child(1) {
          transform: translate(11px, 18px) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translate(11px, 27px) rotate(45deg);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }

    & ~ .footer{
      position: fixed;
      bottom: 0;
    }
  }
  .shrink {
    -webkit-transition: width 250ms ease-in-out;
    width: 50px;
    background: $light-grey;
    cursor:pointer;
    .menu {
      align-self: flex-start;
      margin-left: 18%;
    }
    .content {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0s ease-in-out, visibility 0s ease-in-out;
    }
    .sidebar-toggle {
      .line {
        &:nth-child(1) {
          transform: translate(15px, 17px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate(15px, 27px) rotate(-45deg);
        }
      }
    }
    .share-container {
      padding:10px;
      .share-cta {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0s ease-in-out, visibility 0s ease-in-out;
      }
      .share-toggle {
        display: block;
        &.active+.share-list .share-link {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
      .share-list{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 60px;

        .share-link {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          margin: 3px 0;
        }
      }

    }
  }

}

