<!DOCTYPE html>
<html>
{% include components/head.html %}
<body class="flex column">
{% include components/header.html %}
<div class="wrapper">
    {% include components/sidebar.html %}
    <main id="main" role="main" class="flex column flex-child stretch">
        <div class="detail-page-container">
            {{ content }}
            {% include components/share.html %}
            {% include components/footer.html %}
        </div>
    </main>
    {% include components/scripts.html %}
</div>
</body>
</html>