<!DOCTYPE html>
<html>
{% include components/head.html %}
<body class="flex column" data-mobile>
{% include components/header.html %}
<div class="wrapper">
    {% include components/sidebar.html %}
    <main id="main" role="main" class="flex column flex-child stretch">
        <div class="detail-page-container">
            {{ content }}
            {% for image in page.images %}
            <div class="detail-item-container">
                <img src="/assets/img/projects/{{ image.url }}" alt="{{ image.alt }}">
                {% if image.alt %}
                <p class="detail-item-text">
                    {{ image.alt }}
                </p>
                {% endif %}
            </div>
            {% endfor %}
            {% include components/share.html %}
            {% include components/footer.html %}
        </div>
    </main>
    {% include components/scripts.html %}
</div>
</body>
</html>