<!DOCTYPE html>
<html>
{% include components/head.html %}
<body class="flex column">
{% include components/header.html %}
<div class="wrapper flex-child stretch flex column">
    <main id="main" role="main" class="flex column flex-child stretch">
        <div class="externe-page-container flex-child stretch">
            {{ content }}
            <div class="contact-page-container">
                {% include components/contact.html %}
            </div>
            {% include components/footer.html %}
        </div>
    </main>
    {% include components/scripts.html %}
</div>
</body>
</html>