// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  z-index: 5;
  .ahs__rainbow{
    height:10px;
    .part{
      width:25%;
      &.orange{
        background-color:$primary;
      }
      &.blue{
        background-color:$blue;

      }
      &.pink{
        background-color:$pink;

      }
      &.green{
        background-color:$green;

      }
    }
  }
}

.navigation {

}