// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  z-index: 11;
}
.ahs__rainbow{
  height:10px;
  .part{
    width:25%;
    &.orange{
      background-color:$primary;
    }
    &.blue{
      background-color:$blue;

    }
    &.pink{
      background-color:$pink;

    }
    &.green{
      background-color:$green;

    }
  }
}

.navigation {
  z-index: 10;
  position: fixed;
  top:0;
  left:0;
  padding: 10px 0;
  height:100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #f2f2f2;
  @include scale(0.9);
  @include transition(opacity 0s ease-in-out, visibility 0s ease-in-out);
  &.active{
    opacity: 1;
    visibility: visible;
    @include scale(1);
    @include transition(opacity 250ms 250ms ease-in-out, visibility 0s 0.25s ease-in-out);
  }
  .nav-container {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    padding: 50px 0;
    .nav-container-sub {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
    .nav-block {
      //width: 100%;
      padding: 10px 40px;
      border-bottom:4px solid $mid-grey;
      text-align: center;
      text-transform: uppercase;
      color: $mid-grey;
      &:first-child {
      }
      &:last-child {
      }
      .big-block {
        padding: 20px 0;
        display: block;
        &:hover {
          text-decoration: none;
        }
        .nav-title {

        }
        .nav-subtitle {
          margin-top: -7px;
          color: $dark-grey;
          font-weight: normal;
        }
      }
      .small-block {
        a {
          display: block;
          width: 50%;
          color: $light-grey;
          font-weight: 500;
          @include transition(all 250ms ease-in-out);
          &:hover {
            text-decoration: none;
            color: $blue;
          }
          &.active {
            color: $dark-grey;
          }
        }
      }
    }
  }
  .ahs__rainbow {
    position: absolute;
    bottom:0;
    width: 100%;
  }
}