// -----------------------------------------------------------------------------
// This file contains CSS Animations.
// -----------------------------------------------------------------------------

@include keyframes(rotatePulse) {
  0%   { @include rotate(0) }
  100% { @include rotate(360)  }
}

.wiggle{
  animation-name: wiggle;
  -webkit-animation-name: wiggle;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  visibility: visible !important;
}

@include keyframes(wiggle) {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}