/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-family:"NeoSans";
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}
$title-font-size: 72;
.ahs__{
  &title {
    font-family: 'NeoSans';
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-size: $title-font-size+px;

    &.orange,
    .orange{
      color: $primary;
    }
    &.blue,
    .blue{
      color: $blue;
    }
    &.pink,
    .pink{
      color: $pink;
    }
    &.green,
    .green{
      color: $green;
    }
    &.xxsm {
      font-size: $title-font-size*0.10+px;
    }
    &.xsm {
      font-size: $title-font-size*0.375+px;
    }
    &.sm {
      font-size: $title-font-size*0.5+px;
    }
    &.smd {
      font-size: $title-font-size*0.625+px;
    }
    &.md {
      font-size: $title-font-size*0.75+px;
    }
    &.lg {
      font-size: $title-font-size+px;
    }
    &.xl {
      font-size: $title-font-size*1.25+px;
    }
    &.light {
      font-weight: 300;
    }
    &.normal {
      font-weight: normal;
    }
    &.bold {
      font-weight: bold;
    }
    &.black {
      font-weight: 900;
    }
  }
  &paragraph {
    font-family: 'NeoSans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
  }
}
